html {
  font-family: Raleway;
}

header {
  font-size: 50px;
}

nav {
  background-color: rgba(255,255,255,.6);
  padding-top: 20px;
  position: sticky;
}

#dropdown {
  display: none;
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #0067B6
}
li:hover #dropdown {
  display: block;
}

a:visited {
  color: black;
}

.nav-menu {
  text-align: right;
  list-style: none;
  padding-right: 20px;
}

.CATS-button {
  font-size: -webkit-xxx-large;
  border: 2px solid;
  background-color: rgba(255,255,255,.2);
  text-align: center;
  width: 125px;
}

.DOGS-button {
  font-size: -webkit-xxx-large;
  border: 2px solid;
  background-color: rgba(255,255,255,.2);
  text-align: center;
  width: 135px;
}

.home-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  grid-template-areas: ". ." "CATS DOGS";
  justify-items: center;
  padding-top: 200px;
  padding-left: 300px;
  padding-right: 300px;
}

.CATS { grid-area: CATS; }

.DOGS { grid-area: DOGS; }

#bg-image {
  background-image: url('/docs/HomeOpt2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


/* Cat Page */
.page-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.4fr 1.3fr 1.3fr;
  grid-template-areas: "." "description" "links" "pictures";
}

.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  grid-area: pictures;
}

.links { grid-area: links; }

.description { grid-area: description; }

#cat-bg-image {
  background-image: url('/docs/CatPageHeader.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  height: 800px;
}

.links {
  height: 400px;
}

.pictures {
  height: 400px;
}

#dog-bg-image {
  background-image: url('/docs/DogHeaderPg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
