* {
  box-sizing: border-box;
}

html {
  font-family: Raleway;
  background-color: #617f7f;
}

header {
  font-size: 1.5em;
  background-color: rgba(255,255,255,.6);
}

nav {
  background-color: rgba(255,255,255,.6);
}

h1{
  margin: 0 10px 5px;
  font-size: 2.5em;
}

header h3 {
  margin: 0 10px 5px;
  font-size: 1em;
}

footer {
  bottom: 0;
  text-align: center;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dropdown {
  display: none;
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

li:hover #dropdown {
  display: block;
}

a:visited {
  color: black;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.cats-button {
  font-size: -webkit-xxx-large;
  border: 2px solid;
  background-color: rgba(255,255,255,.2);
  text-align: center;
  width: 10%;
}

.dogs-button {
  font-size: -webkit-xxx-large;
  border: 2px solid;
  background-color: rgba(255,255,255,.2);
  text-align: center;
  width: 10%;
}

a:hover {
  font-weight: bolder;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  padding: 250px 0px 275px;
}

@media screen and (min-width: 1200px) {
  #root {

  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;


  grid-template-areas:
    "nav"
    "header"
    "main"
    "footer";
  }

  nav {
  grid-area: nav;
  }

  header {
  grid-area: header;
  }

  main {
  grid-area: main;
  }

  footer {
  grid-area: footer;
  }
}

/*Cat and Dog Pages */

.page-grid-container {
  display: grid;
  grid-template-rows: 1fr .50fr;
  grid-template-areas: "description" "links";
}

.description {
  grid-area: description;
  background: rgba(255,255,255,.6);
  margin: 150px 70px 0px;
  padding: 0 30px;
}

.links {
  grid-area: links;
  font-size: 1.5em;
  margin: 170px 130px 0;
}

.links button {
  border: 2px solid;
  background-color: rgba(255,255,255,.2);
  text-align: center;
}

/* .pictures {
  grid-area: pictures;
  } */

  /* .pictures img {
    width: 33%;
  } */

#conditions1 {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 25px;
}

/*Product Displays*/

.condition-description {
  background: rgba(255,255,255,.6);
  border: solid 3px #eee;
  border-radius: .5%;
  height: 50%;
  margin: 20% 5% 10%;
  padding: 0 30px;
}

.condition-products {
  height: 50%;
  background: rgba(255,255,255,.6);
  margin: 40px;
  padding: 15px;
  border: solid 3px #eee;
  border-radius: .5%
}

.condition-products h2 {
  margin: 0px 20px 70px;
  text-align: center;
  font-size: 2em;
}


.products {
  display: flex;
  padding: 50px 50px 70px;
}
.products .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  background: #E1E8EE
}
.prodName {
  font-size: 1.2em;
  font-weight: bolder;
}
.prodDescrip {
  padding: 15px;
  font-size: .85em;
}
.prodPrice {
  color: grey;
  font-size: 1em;
  padding-bottom: 10px;
}

.card button {
  padding: 20px 30px;
  font-weight: 400;
  background-color: #519d90;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
}

.card button:hover {
  opacity: 0.7;
  background-color: #6c9575;
}

.checkit {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
/*Shopping Cart*/
.shopping-cart {
  width: 750px;
  height: 1000px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0,.10);
  border-raduis: 6px;
  display: flex;
  flex-direction: column;
}

.shopping-cart-title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.prod {
  padding: 20px 30px;
  height: 230px;
  display: flex;
}

.prod:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

#delete-button {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url() no-repeat center;
  padding-right: 30px;
}

#image {
  margin: 25px;
}

#desc {
  padding-top: 50px;
  margin: 0 40px;
  width: 150px;
  text-align: center;
}

#desc span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

#desc span:first-child {
  margin-bottom: 5px;
}

#desc span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}
#qty {
  padding-top: 35px;
  margin: 0 40px;
}
#qty input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[id*=button] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#minus-button {
  margin-bottom: 3px;
}
#plus-button {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}

#price {
  width: 83px;
  padding: 8%;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .prod {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  #image img {
    width: 50%;
  }
  #image,
  #qty,
  #desc {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  #buttons {
    margin-right: 20px;
  }
}

.checkout-button{
  display: flex;
  justify-content: center;
  height: 20px;
  padding: 25px 30px;
  font-weight: 400;
  background-color: #519d90;
  margin: 12%;
  border: none;
  width: 75%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.1em;
}

.checkout-button a {
  color: white;
}
.checkout-button:hover {
  background-color: #6c9575;
}


/* Check Out */
.checkout-title {
  padding: 0 16px;
  font-weight: bold;
  font-size: 1.2em;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-headers {
  padding-bottom: 10px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 10px 20px 15px 30px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 800px;
  margin-bottom: 30px;
}

.checkout-container{
  padding-top: 50px;
}

.sum-container{
  padding-top: 50px;
}

.checkout-container input[type=text] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #519d90;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #6c9575;
}

span.price {
  float: right;
  color: black;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25{
    margin-bottom: 20px;
  }
}

