html {
  font-family: Raleway;
}

header {
  font-size: 25px;
  background-color: rgba(255,255,255,.6);
  padding-top: 10px;
}

nav {
  background-color: rgba(255,255,255,.6);
  padding-top: 20px;
  position: sticky;
}
h3 {
  margin: 0 auto;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dropdown {
  display: none;
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #0067B6
}
li:hover #dropdown {
  display: block;
}

a:visited {
  color: black;
}

.nav-menu {
  text-align: right;
  list-style: none;
  padding-right: 20px;
}

.cats-button {
  font-size: -webkit-xxx-large;
  border: 2px solid;
  background-color: rgba(255,255,255,.2);
  text-align: center;
  width: 125px;
}

.dogs-button {
  font-size: -webkit-xxx-large;
  border: 2px solid;
  background-color: rgba(255,255,255,.2);
  text-align: center;
  width: 135px;
}

.home-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 200px;
  padding-right: 250px;
  padding-bottom: 275px;
}

.page-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1.4fr 1.3fr 1.3fr;
  grid-template-areas: "." "description" "links" "pictures";
}

.pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
  grid-area: pictures;
}

.links {
  grid-area: links;
  font-size: 30px;
  padding-top: 175px;
}

.description { grid-area: description; }

#conditions1 {
  display: flex;
  justify-content: space-between;
  padding-right: 250px;
  padding-bottom: 25px;
}

#conditions2 {
  display: flex;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 150px;
}

/*Shopping Cart*/
.shopping-cart {
  width: 750px;
  height: 423px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0,.10);
  border-raduis: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-button {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url() no-repeat center;
}

.image {
  margin-right: 50px;
}

.item-description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.item-description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.item-description span:first-child {
  margin-bottom: 5px;
}

.item-description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-button img {
  margin-bottom: 3px;
}
.plus-button img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline:0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .item-description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

.checkout-button{
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  font-weight: bolder;
  font-size: 18px;
}
/* Check Out */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.form-headers {
  padding-bottom: 10px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;

}

.container {
  background-color: #f2f2f2;
  padding: 10px 20px 15px 30px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 800px;
  margin-bottom: 30px;
}

input[type=text] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #519d90;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #6c9575;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25{
    margin-bottom: 20px;
  }
}

/* Images */

#dog-bg-image {
  background-image: url('/docs/dog-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#dog-obesity-bg-image {
  background-image: url('/docs/smiling-lab.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#dog-preg-bg-image {
  background-image: url('/docs/happy-puppy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#dog-diabetes-bg-image {
  background-image: url('/docs/sad-beagle.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#dog-panc-bg-image {
  background-image: url('/docs/sleeping-french.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#dog-skin-bg-image {
  background-image: url('/docs/pug-in-blanket.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#cat-bg-image {
  background-image: url('/docs/cat-page-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#cat-obesity-bg-image {
  background-image: url('/docs/kitten-on-walk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#cat-preg-bg-image {
  background-image: url('/docs/mom-and-kitten.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#cat-diabetes-bg-image {
  background-image: url('/docs/sleepy-cat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#cat-ut-bg-image {
  background-image: url('/docs/cat-scatches.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#cat-hairballs-bg-image {
  background-image: url('/docs/worried-cat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#checkout-bg-image {
  background-image: url('/docs/home-opt1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}
